.search-list-container {
  height: 380px;
  overflow: auto;
}
.search-list-container .search-items {
  background-color: #374051;
  margin-bottom: 5px;
  padding: 20px;
  border-radius: 4px;
  color: white;
  display: flex;
  gap: 5px;
  word-break: break-all;
}
